{% extends 'base.html.twig' %}


{% block title %}
    {{ 'layout.title'|trans }}
{% endblock %}


{% block body %}
    <div class="container">
            <div class="row">
                <div class="home-issue col-md-6">
                    {% if issues|length > 10 %}
                        <div class="block-with-title">
                            {% block issues %}
                                <h2>{{ 'layout.listIssue.title'|trans }}</h2>
                                <ul>
                                    {% for issue in issues %}
                                        <li>
                                            {% include 'TrackerHomeBundle:Default:issue.html.twig' with { 'issue': issue } %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endblock issues %}

                            <a href="{{ path("issue") }}">{{ "layout.listIssue.linkToAll"|trans }}</a>
                        </div>
                    {% endif %}
                </div>

                <div class="home-activities col-md-6">
                    {% if activities|length > 10 %}
                        <div class="block-with-title">
                            <h2>{{ 'layout.listActivities.title'|trans }}</h2>
                            {% block activities %}
                                <ul>
                                    {% for activity in activities %}
                                        <li>
                                            {% include 'TrackerHomeBundle:Default:activity.html.twig' with { 'activity': activity } %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endblock activities %}
                        </div>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}