{% extends 'base.html.twig' %}

{% block title %}
    {{ 'layout.title'|trans }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% block issues %}
                    <h2>Activities in projects</h2>
                    {% for issue in issues %}
                        {{ include('Tracker/AtivitiesBundle/Default/index.html.twig', { 'issue': issue }) }}

                        {{ issue.code }}
                    {% endfor %}
                {% endblock issues %}
            </div>

            <div class="col-md-4">
                <h2>List opened/ reopened issue</h2>
                {% block activities %}
                    {% for activity in activities %}
                        {{ include('Article/articleDetails.html.twig', { 'activity': activity }) }}

                        {{ activity.user.email }}
                    {% endfor %}
                {% endblock activities %}
            </div>
        </div>
    </div>
{% endblock %}