<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <nav class="container">
            <div class="">
                <div class="pull-left">
                    {% block logo %}
                        <div class="logo">
                            <a href="/">Tracker</a>
                        </div>
                    {% endblock logo %}
                </div>
                    {% block menu %}
                        <div class="menu">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path("project") }}">Projects</a> |
                                    <a href="{{ path("issue") }}">Issues</a>

                                {% if is_granted("ROLE_ADMIN") %}|
                                    <a href="{{ path("user") }}">Users</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock menu%}

                    <div class="pull-right">
                    {% block auth %}
                        <div class="auth">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {{ 'layout.logged_in_as'|trans }} <a href="{{ path("fos_user_profile_show") }}">{{ app.user.username }}</a>  |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% endif %}
                        </div>
                    {% endblock auth %}

                </div>
            </div>


        </nav>

        <div class="container">
            {% block body %}
                {% block header %}
                {% endblock %}

                {% block content %}

                {% endblock %}

                {% block footer %}
                {% endblock %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
