{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{{ 'project.list'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'project.view.label'|trans }}</th>
                <th>{{ 'project.view.summary'|trans }}</th>
                <th>{{ 'project.view.code'|trans }}</th>
                <th>{{ 'project.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.label }}</td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.code }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('project_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
