{% extends '::base.html.twig' %}
{% import "TrackerHomeBundle::macros.html.twig" as UI %}

{% block title %}
    {{ "project.list"|trans }}
{% endblock title %}

{% block header %}
    <header>
        <h1>{{ 'project.list'|trans }}</h1>
    </header>
{% endblock header %}

{% block content %}
    <div class="actions">
        {% if is_granted('create', emptyEntity) %}
            <a class="btn btn-default" href="{{ path('project_new') }}">
                {{ "project.action.create"|trans }}
            </a>
        {% endif %}
    </div>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>{{ 'project.grid.code'|trans }}</th>
                <th>{{ 'project.grid.label'|trans }}</th>
                <th>{{ 'project.grid.summary'|trans }}</th>
                <th>{{ 'project.grid.created'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% set pathProject = path('project_show', { 'project': entity.code }) %}

            <tr>
                <td><a href="{{ pathProject }}">{{ entity.code }}</a></td>
                <td><a href="{{ pathProject }}">{{ entity.label }}</a></td>
                <td>{{ entity.summary }}</td>
	            <td>{{ UI.formatDateAndTimeZone(entity.created) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
