{% extends '::base.html.twig' %}

{% block title %}
    {{ "issue.page.list.title"|trans }}
{% endblock title %}

{% block body -%}
    <h3>Project: <a href="{{ path("project_show", { project: entity.code}) }}">{{ entity.summary }}</a></h3>
    <h4>{{ "issue.page.list.title"|trans }} </h4>
    <p>
        {% if is_granted('create', emptyEntity) %}
            <a href="{{ path('issue_new') }}">
                {{ "issue.action.create"|trans }}
            </a>
        {% endif %}
    </p>

    {% include 'TrackerIssueBundle:Default:partial/gridTasks.html.twig' with { 'entities': entities } %}
{% endblock %}
