{% extends '::base.html.twig' %}

{% block title %}
	{{ 'project.project'|trans }} - {{ entity.label }}
{% endblock title %}

{% block header %}
    <header class="breadcrumbs">
        <ul class="breadcrumbs">
            <li>
                <a href="{{ path('project') }}">
                    {{ "layout.menu.projects"|trans }}
                </a>
                /
                {{ entity.code }}
            </li>
            <li>
                <h1>{{ "project.project"|trans }}: {{ entity.label }}</h1>
            </li>
        </ul>
    </header>
{% endblock header %}

{% block content %}
    <div class="actions">
        {% if is_granted('edit', entity) %}
            <a class="btn btn-default" href="{{ path('project_edit', { 'project': entity.code }) }}">
                {{ "project.action.edit"|trans }}
            </a>
        {% endif %}

        {% if is_granted('create', emptyEntity) %}
            <a class="btn btn-default" href="{{ path('project_new_issue', {'project': entity.code}) }}">
                {{ "issue.action.create"|trans }}
            </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="information detail">
                <p class="title">{{ "project.grid.summary"|trans }}</p>
                <div class="content">
                    {{ entity.summary }}
                </div>
            </div>

            <div class="information detail">
                <p class="title">{{ "project.listIssue"|trans }}</p>
                <div class="content">
                    {% include 'TrackerIssueBundle:Default:partial/gridTasks.html.twig' with { 'project': entity, 'entities': issues } %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information">
                <p class="title">{{ "project.page.view.members"|trans }}</p>
                <div class="content">
                    {% include 'TrackerProjectBundle:Default:partial/gridUsers.html.twig' with { 'entity': entity } %}
                </div>
            </div>

            <div class="information">
                <p class="title">{{ "project.page.view.activity"|trans }}</p>
                <div class="content">
                    {% if activity|length > 0 %}
                        {% include 'TrackerActivitiesBundle::activityList.html.twig' with { 'activities': activity } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
