<table class="table table-bordered">
    <thead>
    <tr>
        <th>  {{ "activity.grid.event"|trans }}</th>
        <th>  {{ "activity.grid.issue"|trans }}</th>
        <th>  {{ "activity.grid.user"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
            <tr>
                <td>{{ activity.event|trans }}</a></td>
                <td><a href="{{ path('issue_show', { 'issue': activity.issue.code }) }}">{{ activity.issue.summary }}</a></td>
                <td>{{ activity.user.username }}</a></td>
            </tr>
    {% endfor %}
    </tbody>
</table>