{%- block form_widget -%}
    {% if compound %}
        <div class="">
            {{- block('form_widget_compound') -}}
        </div>
    {% else %}
        <div class="col-sm-6">
            {{- block('form_widget_simple') -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock form_widget -%}

{%- block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="error">
            {%- for error in errors -%}
                <li>{{ error.message|trans }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}


{%- block textarea_widget -%}
    <div class="col-sm-6">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <div class="col-sm-6">
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block submit_widget -%}
    <div class="col-sm-offset-4 col-sm-6">
        {%- set type = type|default('submit') -%}
        {{ block('button_widget') }}
    </div>
{%- endblock submit_widget -%}

{%- block button_row -%}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" class="btn btn-default" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block email_widget -%}
    <div class="col-sm-6">
        {%- set type = type|default('email') -%}
        {{ block('form_widget_simple') }}
    </div>
{%- endblock email_widget -%}

{%- block checkbox_widget -%}
    {#<div class="col-sm-6">#}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {#</div>#}
{%- endblock checkbox_widget -%}

{%- block password_widget -%}
    <div class="col-sm-6">
        {%- set type = type|default('password') -%}
        {{ block('form_widget_simple') }}
    </div>
{%- endblock password_widget -%}

{%- block choice_widget -%}

    {% if expanded %}
        <div class="col-sm-6">
            {{- block('choice_widget_expanded') -}}
        </div>
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}

{%- endblock choice_widget -%}