{% import "TrackerHomeBundle::macros.html.twig" as UI %}

<ul class="activity-list">
    {% for activity in activities %}
        <li>
            <div class="time">
                {{ UI.formatDateAndTimeZone(activity.created) }}
            </div>
            {{ UI.userAvatarFullName(activity.user, 24, 24) }}
            {{ activity.event|trans }}
            {{ activity.data }} on
            {{ activity.issue.code }} - {{ activity.issue.summary }}
            for project ({{ activity.project.summary }})
        </li>
    {% endfor %}
</ul>