<div class="fos_user_user_show">
    {% if user.getWebPath() %}
        <img src="{{ user.getWebPath() }}" width="240"/>
    {% endif %}

    <p>{{ 'user.profile.show.username'|trans }}: {{ user.username }}</p>

    <p>{{ 'user.profile.show.fullName'|trans }}: {{ user.fullName }}</p>

    <p>{{ 'user.profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'user.profile.show.timezone'|trans }}: {{ user.timezone }}</p>
</div>
