{% extends '::base.html.twig' %}

{% block title %}
    {{ "user.page.view.title"|trans }} - {{ entity.username }}
{% endblock title -%}

{% block body -%}
    <h3>{{ "user.page.view.title"|trans }} - {{ entity.username }}</h3>

    <p>
        <a href="{{ path('user') }}">
            {{ "user.action.backToList"|trans }}
        </a>
        {% if is_granted('edit', entity) %}
            |
            <a href="{{ path("user_edit", {user: entity.id}) }}">
                {{ "user.action.edit"|trans }}
            </a>
        {% endif %}
    </p>

    {% if entity.getWebPath() %}
        <div class="user-page-image">
            <img src="{{ entity.getWebPath() }}" width="240"/>
        </div>
    {% endif %}

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{{ "user.grid.id"|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>

            <tr>
                <th>{{ "user.grid.username"|trans }}</th>
                <td>{{ entity.username }}</td>
            </tr>

            <tr>
                <th>{{ "user.grid.fullName"|trans }}</th>
                <td>{{ entity.fullName }}</td>
            </tr>

            <tr>
                <th>{{ "user.grid.email"|trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>

            <tr>
                <th>{{ "user.grid.lastLogin"|trans }}</th>
                <td>{{ entity.lastLogin|date("d.m.Y") }}</td>
            </tr>

            <tr>
                <th>{{ "user.grid.enabled"|trans }}</th>
                <td>{{ entity.enabled }}</td>
            </tr>
        </tbody>
    </table>


    {% if activity|length > 0 %}
        <h4>{{ "user.page.view.activity"|trans }}</h4>
        {% include 'TrackerUserBundle:User:partial/gridActivity.html.twig' with { 'activities': activity } %}
    {% endif %}

    {% if entity.assignedIssue|length > 0 %}
        <h4>{{ 'layout.listIssue.title'|trans }}</h4>
        {% include 'TrackerUserBundle:User:partial/issue.html.twig' with { 'issues': entity.assignedIssue  } %}
    {% endif %}


{% endblock %}
