{% extends '::base.html.twig' %}
{% import "TrackerHomeBundle::macros.html.twig" as UI %}

{% block title %}
    {{ "user.page.view.title"|trans }} - {{ entity.username }}
{% endblock title -%}

{% block body -%}
    <header>
        <div class="header-user">
            {{ UI.renderAvatar(entity, 48, 48) }}<p>{{ "user.page.view.title"|trans }}: {{ entity.username }}</p>
        </div>
    </header>

    <div class="actions">
        {% if is_granted('edit', entity) %}
            <a class="btn btn-default" href="{{ path("user_edit", {user: entity.id}) }}">
                {{ "user.action.edit"|trans }}
            </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="information user detail">
                <p class="title">{{ "issue.details"|trans }}</p>

                <div class="content">
                    <div>
                        {% include 'TrackerUserBundle:User/partial:details.html.twig' with { 'entity': entity} %}
                    </div>
                </div>
            </div>

            <div class="information">
                <p class="title">{{ 'layout.listIssue.title'|trans }}</p>

                <div class="content">
                    {% if entity.assignedIssue|length > 0 %}
                        {% include 'TrackerUserBundle:User:partial/issue.html.twig' with { 'issues': entity.assignedIssue  } %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information">
                <p class="title">{{ "user.page.view.activity"|trans }}</p>

                <div class="content">
                    {% if activity|length > 0 %}
                        {% include 'TrackerUserBundle:User:partial/gridActivity.html.twig' with { 'activities': activity } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
