<table class="table table-bordered">
    <thead>
    <tr>
        <th>  {{ "activity.grid.event"|trans }}</th>
        <th>  {{ "activity.grid.issue"|trans }}</th>
        <th>  {{ "activity.grid.project"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
            <td>{{ activity.event|trans }}</a></td>
            <td><a href="{{ path('issue_show', { 'id': activity.issue.id }) }}">{{ activity.issue.summary }}</a></td>
            <td><a href="{{ path('project_show', { 'project': activity.project.id }) }}">{{ activity.project.label }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>