{#{% trans_default_domain 'FOSUserBundle' %}#}

<a href="{{ path('fos_user_security_login') }}">{{ "user.page.auth.login"|trans }}</a> |
<a href="{{ path('fos_user_resetting_request') }}">{{ "user.page.auth.forgotPssword"|trans }}</a>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
    {{ form_widget(form._token) }}

    <div class="form-group">
        {{ form_label(form.email) }}

        <div class="col-sm-6">
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.fullName) }}
        <div class="col-sm-6">
            {{ form_widget(form.fullName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.username) }}
        <div class="col-sm-6">
            {{ form_widget(form.username) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        <div class="col-sm-6">
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        <div class="col-sm-6">
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.file) }}
        <div class="col-sm-6">
            {{ form_widget(form.file) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>
</form>
