{% import "TrackerHomeBundle::macros.html.twig" as UI %}

<ul class="list-comments">
    {% for comment in comments %}
        <li>
            <p>
                {{ UI.userAvatarFullName(comment.author, 24, 24) }}
                {{ "issue.comment.message.added"|trans }} {{ UI.formatDateAndTimeZone(comment.created) }}

                <span class="actions">
                    {% if is_granted("delete", comment) %}
                        {% set route = path('issue_comment_delete', {"issue":entity.code, "comment":comment.id}) %}
                        <a href="{{ route }}">{{ "issue.action.delete"|trans }}</a>
                    {% endif %}

                    {% if is_granted("delete", comment) and is_granted("edit", comment) %}
                        |
                    {% endif %}

                    {% if is_granted("edit", comment) %}
                        {% set route = path('issue_comment_edit', {"issue":entity.code,"comment":comment.id}) %}
                        <a href="{{ route }}">{{ "issue.action.edit"|trans }}</a>
                    {% endif %}
                </span>
            </p>

            <p>
                {{ comment.body }}
            </p>
        </li>
    {% endfor %}
</ul>
