<table class="table table-bordered">
    <thead>
    <tr>
        <th>  {{ "issue.grid.code"|trans }}</th>
        <th>  {{ "issue.grid.type"|trans }}</th>
        <th>  {{ "issue.grid.summary"|trans }}</th>
        <th>  {{ "issue.grid.description"|trans }}</th>
        <th>  {{ "issue.grid.created"|trans }}</th>
        <th>  {{ "issue.grid.updated"|trans }}</th>
        <th>  {{ "issue.grid.project"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if is_granted('view', entity) %}
            {% set pathIssueView = path('issue_show', { 'issue': entity.code }) %}
            {% set pathProjectView = path('project_show', { 'project': entity.project.code }) %}
            <tr>
                <td><a href="{{ pathIssueView }}">{{ entity.code }}</a></td>
                <td> {{ entity.type.value }}</td>
                <td><a href="{{ pathIssueView }}">{{ entity.summary }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.created %}{{ entity.created|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td><a href="{{ pathProjectView }}">{{ entity.project.label }}</a></td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>