<table class="records_list table table-bordered">
    <thead>
    <tr>
        <th>{{ "user.grid.username"|trans }}</th>
        <th>{{ "user.grid.email"|trans }}</th>
        <th>{{ "user.grid.lastLogin"|trans }}</th>
        <th>{{ "user.grid.status"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for collaborator in collaborators %}

        {% if (collaborator.enabled) %}
            {% set statusClass = 'success' %}
            {% set statusTitle = 'Activated' %}
            {% set statusValue = '✔' %}
        {% else %}
            {% set statusClass = 'danger' %}
            {% set statusTitle = 'Disabled' %}
            {% set statusValue = '' %}
        {% endif %}

        <tr>
            <td>
	            {% set pathShowUser = path('user_show', { 'user': collaborator.id }) %}
	            {% if collaborator.getWebPath() %}
			            <a href="{{ pathShowUser }}" class="avatar">
				            <img src="{{ collaborator.getWebPath() }}"  width="64"/>
			            </a>

	            {% endif %}
	            <a href="{{ pathShowUser }}">{{ collaborator.username }}</a>
            </td>
            <td>{{ collaborator.email }}</td>
            <td>{{ collaborator.lastLogin|date('d.m.Y H:i:s') }}</td>
            <td class="status {{ statusClass }}" title="{{ statusTitle }}">{{ statusValue }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>