{% import "TrackerHomeBundle::macros.html.twig" as UI %}

<table class="table comment table-bordered">
    <thead>
    <tr>
        <th>{{ "issue.comment.grid.body"|trans }}</th>
        <th>{{ "issue.comment.grid.created"|trans }}</th>
        <th>{{ "issue.comment.grid.author"|trans }}</th>
        <th>{{ "issue.comment.grid.action"|trans }}</th>
    </tr>
    <thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <td>{{ comment.body }}</td>
            <td>{{ UI.formatDateAndTimeZone(comment.created) }}</td>
            <td>
	            {{ UI.renderLinkUserPage(comment.author) }}
            </td>
            <td>
                {% if is_granted("delete", comment) %}
                    <a href="{{ path('issue_comment_delete', {"issue":entity.code, "comment":comment.id}) }}">{{ "issue.action.delete"|trans }}</a>
                {% endif %}

                {% if is_granted("delete", comment) and is_granted("edit", comment) %}
                    |
                {% endif %}
                {% if is_granted("edit", comment) %}
                    <a href="{{ path('issue_comment_edit', {"comment":comment.id}) }}">{{ "issue.action.edit"|trans }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
