{% import "TrackerHomeBundle::macros.html.twig" as UI %}

<table class="table table-bordered">
	<thead>
	<tr>
		<th>{{ "issue.grid.code"|trans }}</th>
		<th>{{ "issue.grid.summary"|trans }}</th>
		<th>{{ "issue.grid.type"|trans }}</th>
		<th>{{ "issue.grid.status"|trans }}</th>
		<th>{{ "issue.grid.assignee"|trans }}</th>
	</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
		{% set pathIssueView = path('issue_show', { 'issue': entity.code }) %}
		{% set pathProjectView = path('project_show', { 'project': entity.project.code }) %}

		<tr>
			<td class="code"><a href="{{ pathIssueView }}">{{ entity.code }}</a></td>
			<td><a href="{{ pathIssueView }}">{{ entity.summary }}</a></td>
			<td>{{ entity.type.value }}</td>
            <td>{{ entity.status }}</td>
            <td>{{ UI.renderLinkUserPage(entity.assignee, entity.assignee.fullName) }} </td>
		</tr>
	{% endfor %}
	</tbody>
</table>
