{% extends '::base.html.twig' %}

{% form_theme edit_form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block body -%}
    <h3>{{ "issue.page.edit.title"|trans }}</h3>

    <p>
        {% if project is empty %}
            <a href="{{ path('issue_show', {'issue': entity.code}) }}">
                {{ entity.summary }} (My issues)
            </a>
        {% else %}
            <a href="{{ path('project_issue_show', { 'issue': entity.code, 'project': project.code}) }}">
                {{ entity.summary }} (Project issues)
            </a>
        {% endif %}
    </p>
    {{ form(edit_form,  {'attr':{'class':"form-horizontal"}} ) }}

{% endblock %}
