{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}



{% block header %}
    {% set cssClass = '' %}
    {% if project is not empty %}
        {% set cssClass = 'breadcrumbs' %}
    {% endif %}

    <header class="{{ cssClass }}">
        {% if project is not empty %}
            <ul class="{{ cssClass }}">
                <li>
                    <a href="{{ path('project') }}">
                        {{ "layout.menu.projects"|trans }}
                    </a>
                    /
                    <a href="{{ path('project_show', {project:project.code}) }}">
                        {{ project.code }} {{ project.summary }}
                    </a>
                </li>
            </ul>
        {% endif %}

        <h1>{{ "issue.page.create.title"|trans }}</h1>
    </header>
{% endblock header %}

{% block content %}
    {{ form(form, {'attr':{'class':"form-horizontal"}}) }}
{% endblock %}
