{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block header %}
    <header class="breadcrumbs">
        <ul class="breadcrumbs">
            <li>
                <a href="{{ path('project_show', {project:parent.project.code}) }}">
                    {{ parent.project.label }}
                </a> /
                <a href="{{ path('issue_show', {issue:parent.code}) }}">
                    {{ parent.code }} {{ parent.summary }}
                </a>
            </li>
        </ul>
        <h1>{{ "issue.page.createSubTask.title"|trans }}</h1>
    </header>
{% endblock header %}

{% block content %}
    {{ form(form, {'attr':{'class':"form-horizontal"}}) }}
{% endblock %}
