{% extends '::base.html.twig' %}
{% form_theme comment_form 'TrackerProjectBundle:Form:fields.html.twig' %}
{% import "TrackerHomeBundle::macros.html.twig" as UI %}

{% block title %}
    {{ "issue.page.view.title"|trans }}
{% endblock title %}

{% block header %}
    <header class="breadcrumbs">
        <ul class="breadcrumbs">
            <li>
                <a href="{{ path("project_show", {"project":entity.project.code }) }}">{{ entity.project.label }}</a>
                {% if entity.parent %}
                    /
                    {% if project is empty %}
                        {% set route = path('issue_show', { 'issue': entity.parent.code }) %}
                    {% else %}
                        {% set route = path('project_issue_show', { 'project': project.code, 'issue': entity.parent.code}) %}
                    {% endif %}

                    <a href="{{ route }}">
                        {{ entity.parent.code }} - {{ entity.parent.summary }}
                    </a>
                {% endif %}
                / {{ entity.code }}
            </li>
        </ul>

        <h1>{{ entity.summary }}</h1>
    </header>
{% endblock header %}

{% block content %}
    <div class="actions">
        {% if is_granted("edit", entity) %}
            {% set route = path('issue_edit', { 'issue': entity.code }) %}
            <a class="btn btn-default" href="{{ route }}">
                {{ "issue.action.edit"|trans }}
            </a>
        {% endif %}

        {% if is_granted("create_sub_task", entity) %}
            {% set route = path('issue_new_sub_task', { 'issue': entity.code }) %}
            <a class="btn btn-default" href="{{ route }}">
                {{ "issue.action.create_sub_task"|trans }}
            </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="information issue detail">
                <p class="title">{{ "issue.details"|trans }}</p>

                <div class="content row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>{{ "issue.grid.type"|trans }}</dt>
                            <dd>{{ entity.type.value }}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>{{ "issue.grid.priority"|trans }}</dt>
                            <dd>{{ entity.priority.value }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>{{ "issue.grid.status"|trans }}</dt>
                            <dd>{{ entity.status.value }}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>{{ "issue.grid.resolution"|trans }}</dt>
                            <dd>{{ entity.resolution }}</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="information description">
                <p class="title">{{ "issue.grid.description"|trans }}</p>

                <div class="content">
                    {% if entity.description %}
                        {{ entity.description }}
                    {% else %}
                        {{ "issue.noDescription"|trans }}
                    {% endif %}
                </div>
            </div>

            {% if entity.type == "Story"  %}
                <div class="information">
                    <p class="title">{{ "issue.page.view.subTask"|trans }}</p>

                    <div class="content">
                        {% if entity.children|length > 0 %}
                            {% include 'TrackerIssueBundle:Default:partial/gridTasks.html.twig' with { 'entities': entity.children } %}
                        {% else %}
                            {{ "issue.noSubTask"|trans }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="information activity">
                {% if activity|length > 0 %}
                    <p class="title">{{ "issue.page.view.activity"|trans }}</p>
                    {% include 'TrackerActivitiesBundle::activityList.html.twig' with { 'activities': activity } %}
                {% endif %}
            </div>

            <div class="information ">
                <p class="title">{{ "issue.page.view.comment"|trans }}</p>

                <div class="content">
                    {% if entity.comment|length > 0 %}
                        {% include 'TrackerIssueBundle:Default:partial/gridComment.html.twig' with { 'comments': entity.comment } %}
                    {% else %}
                        {{ "issue.noComments"|trans }}
                    {% endif %}
                </div>
            </div>

            <div class="information">
                <p class="title">{{ "issue.page.view.sendComment"|trans }}</p>

                <div class="content">
                    {% if is_granted('create', entity) %}
                        <a name="comment-form"></a>
                        {{ form(comment_form, {'attr':{'class':"form-horizontal"}}) }}
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="information additional col-md-4">
            <div class="information users">
                <p class="title">{{ "issue.grid.people"|trans }}</p>

                <div class="content">
                    <dl>
                        <dt>{{ "issue.grid.reporter"|trans }}</dt>
                        <dd>
                            {{ UI.userAvatarFullName(entity.reporter, 24, 24) }}
                        </dd>
                    </dl>

                    <dl>
                        <dt>{{ "issue.grid.assignee"|trans }}</dt>
                        <dd>
                            {{ UI.userAvatarFullName(entity.assignee, 24, 24) }}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="information date">
                <p class="title">{{ "issue.grid.dates"|trans }}</p>

                <div class="content">
                    <dl>
                        <dt>{{ "issue.grid.created"|trans }}</dt>
                        <dd>{{ UI.formatDateAndTimeZone(entity.created) }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ "issue.grid.updated"|trans }}</dt>
                        <dd>{{ UI.formatDateAndTimeZone(entity.updated) }}</dd>
                    </dl>
                </div>
            </div>

            <div class="information collaborator">
                <p class="title">{{ "issue.page.view.collaborators"|trans }}</p>

                <div class="content">
                    {% if entity.collaborators|length > 0 %}
                        {% include 'TrackerIssueBundle:Default:partial/gridCollaborators.html.twig' with { 'collaborators': entity.collaborators } %}
                    {% else %}
                        {{ "issue.noCollaborators"|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
